// Fonts
$base-font-size: 14px;
$base-font-family: 'Roboto', sans-serif;

// Breakpoints
$bp-xl: 1199px;
$bp-lg: 991px;
$bp-md: 767px;
$bp-sm: 575px;
$bp-xs: 460px;

// Colors
$c-white    : #ffffff;
$c-black    : #000000;
$c-mirage   : #1a1c2b;
$c-rhino    : #2c3159;
$c-alto     : #d8d4d4;
$c-wild-sand: #f5f5f5;
// Themes
$theme: (
  base : $c-wild-sand,
  theme: $c-white,
  text-primary: $c-black
);
$theme-dark: (
  base        : $c-mirage,
  theme       : $c-rhino,
  text-primary: $c-white
);
// UI
$br-primary: 10px;
