// Fonts
$base-font-size: 14px;
$base-font-family: 'Roboto', sans-serif;

// Breakpoints
$bp-xl: 1199px;
$bp-lg: 991px;
$bp-md: 767px;
$bp-sm: 575px;
$bp-xs: 460px;

// Colors
$c-white     : #ffffff;
$c-black     : #000000;
$c-mirage    : #1a1c2b;
$c-rhino     : #2c3159;
$c-moody-blue: #5861ac;
$c-alto      : #d8d4d4;
$c-wild-sand : #e9e9e9;
$c-torch-red : #F31B1B;
// Themes
$theme: (
  base : $c-wild-sand,
  theme: $c-white,
  text-primary: $c-black
);
$theme-dark: (
  base        : $c-mirage,
  theme       : $c-rhino,
  text-primary: $c-white
);
// UI
$br-primary  : 10px;
$br-secondary: 5px;
$transition  : 0.3s cubic-bezier(0.4, 0, 0.2, 1);
$sh-primary  : 0px 4px 10px 0px rgba(0,0,0,0.1)
