@import ~styles/abstract/variables
@import ~styles/abstract/utils

.contact-card
  position: relative
  &__wrap
    position: absolute
    left: 0
    top: 100%
    background-color: getColor('theme')
    width: 100%
    max-width: 450px
    padding: 20px 15px
    box-shadow: $sh-primary
    border-radius: $br-primary
    z-index: 2000
  &__close
    position: absolute
    top: 5px
    right: 5px
    cursor: pointer
    padding: 5px
    z-index: 1
    &:hover
      path
        fill: getColor('default-dark')
    &-icon
      width: 15px
      height: 15px
      path
        transition: 0.3s
        fill: getColor('default')
  &__row
    position: relative
    display: flex
    flex-wrap: wrap
  &__left
    margin-bottom: 15px
    +media-max($bp-sm)
      display: flex
      width: 100%
      align-items: center
  &__avatar
    width: 100px
    border-radius: 50%
    margin-right: 15px
    +media-max($bp-sm)
      width: 80px
    +media-max($bp-xs)
      width: 60px
  &__right
    flex: 1
    +media-max($bp-xs)
      min-width: 100%
  &__name
    margin-bottom: 10px
    +media-max($bp-sm)
      display: none
    &-mobile
      display: none
      +media-max($bp-sm)
        display: block
  &__details
    width: 100%
    border-collapse: collapse
    &-name
      padding-right: 10px

// Animations
.contact-card-animation-enter
  opacity: 0
.contact-card-animation-enter-active
  opacity: 1
  transition: 0.3s
.contact-card-animation-exit
  opacity: 1
.contact-card-animation-exit-active
  opacity: 0
  transition: 0.3s
