@import ~styles/abstract/variables
@import ~styles/abstract/utils

.list-group-item
  border-bottom: 1px solid getColor('default')
  padding:  10px
  transition: background-color 0.3s
  outline: none
  &:focus,
  &.is-active
    background-color: getColor('default')
