@import ~styles/abstract/variables

.app
  height: 100vh
  &__toggle-mode
    position: absolute
    right: 20px
    top: 20px
  &__body
    display: flex
    justify-content: center
    align-items: center
    height: 100%
    padding: 15px
